.form{
    background-color: white;
    width: 50%;
    padding: 2em;
    min-height: 80vh;
    background-image: linear-gradient( rgb(242, 246, 242) , rgb(101, 165, 186));
}
h1{
    text-align: center;
}
.form-outer{
    border-radius: solid black 10px;
}